<!-- <div class="messagediv" #scrollMe *ngIf="imageModel">
  <div *ngFor="let msg of messageData">
    <div *ngIf="msg.media_type == ''">
      <div class="container" *ngIf="msg.user_type == 'doctor'">
        <img
          class="DoctorImg"
          src="assets/img/img/download.jpg"
          alt="Avatar"
          style="width: 100%;"
        />
        <p>{{ msg.message }}</p>
        <span class="time-right">{{ msg.date_time_created }}</span>
      </div>
      <div class="container darker" *ngIf="msg.user_type == 'patient'">
        <img
          src="assets/img/img/istockphoto-509627945-612x612.jpg"
          alt="Avatar"
          class="right"
          style="width: 100%;"
        />
        <p>{{ msg.message }}</p>
        <span class="time-left">{{ msg.date_time_created }}</span>
      </div>
    </div>
    <div
      *ngIf="
        msg.media_type == 'jpg' ||
        msg.media_type == 'jpeg' ||
        msg.media_type == 'png'
      "
    >
      <div class="container" *ngIf="msg.user_type == 'doctor'">
        <img
          class="DoctorImg"
          src="assets/img/img/download.jpg"
          alt="Avatar"
          style="width: 100%;"
        />

        <img
          src="{{ responceImgUrl + msg.media_url }}"
          width="80px"
          height="60px"
          (dblclick)="singleclick(msg.media_url, msg.media_type)"
        />
        <span class="time-right">{{ msg.date_time_created }}</span>
      </div>
      <div class="container darker" *ngIf="msg.user_type == 'patient'">
        <img
          src="assets/img/img/istockphoto-509627945-612x612.jpg"
          alt="Avatar"
          class="right"
          style="width: 100%;"
          width="80px"
          height="60px"
        />
        <img
          src="{{ responceImgUrl + msg.media_url }}"
          width="80px"
          height="60px"
          (dblclick)="singleclick(msg.media_url, msg.media_type)"
        />
        <span class="time-left">{{ msg.date_time_created }}</span>
      </div>
    </div>
    <div *ngIf="msg.media_type == 'mp4'">
      <div class="container" *ngIf="msg.user_type == 'doctor'">
        <img
          class="DoctorImg"
          src="assets/img/img/download.jpg"
          alt="Avatar"
          style="width: 100%;"
        />

        <video
          width="80px"
          height="60px"
          controls
          (dblclick)="singleclick(msg.media_url, msg.media_type)"
        >
          <source src="{{ responceImgUrl + msg.media_url }}" type="mp4" />
          This browser doesn't support video tag.
        </video>
        <span class="time-right">{{ msg.date_time_created }}</span>
      </div>
      <div class="container darker" *ngIf="msg.user_type == 'patient'">
        <img
          src="assets/img/img/istockphoto-509627945-612x612.jpg"
          alt="Avatar"
          class="right"
          style="width: 100%;"
          width="80px"
          height="60px"
        />
        <video
          width="80px"
          height="60px"
          controls
          (dblclick)="singleclick(msg.media_url, msg.media_type)"
        >
          <source src="{{ responceImgUrl + msg.media_url }}" type="mp4" />
          This browser doesn't support video tag.
        </video>
        <img
          src="{{ responceImgUrl + msg.media_url }}"
          width="80px"
          height="60px"
        />
        <span class="time-left">{{ msg.date_time_created }}</span>
      </div>
    </div>
  </div>
</div> -->
<div class="mainConteiner" *ngIf="imageModel">
  <div class="row">
    <div class="col-md-3 leftcolumn" *ngFor="let msg of messageData">
      <div
      [class.admincard]='msg.user_id_sender=="50"'
        class="card"
        *ngIf="
          msg.media_type == 'jpg' ||
          msg.media_type == 'jpeg' ||
          msg.media_type == 'png'
        "
      >
        <div class="row">
          <div class="col-md-3">
            <img
              src="http://placehold.it/50/55C1E7/fff&text=U"
              alt="User Avatar"
              class="img-circle"
            />
          </div>

          <div class="col-md-9">
            <h6>{{ msg.sender_name }}</h6>
            <small>{{ msg.date_time_created }}</small>
          </div>
        </div>

        <div style="height: 200px;">
          <img
            src="{{ responceImgUrl + msg.media_url }}"
            class="fakeimg imageclas"
            (dblclick)="singleclick(msg.media_url, msg.media_type)"
          />
        </div>
      </div>

      <!-- Video -->
      <div class="card" [class.admincard]='msg.user_id_sender=="50"' *ngIf="msg.media_type == 'mp4'">
        <div class="row">
          <div class="col-md-3">
            <img
              src="http://placehold.it/50/55C1E7/fff&text=U"
              alt="User Avatar"
              class="img-circle"
            />
          </div>

          <div class="col-md-9">
            <h6>{{ msg.sender_name }}</h6>
            <small>{{ msg.date_time_created }}</small>
          </div>
        </div>

        <div style="height: 200px;">
          <video class="fakeimg" controls>
            <source
              src="{{ responceImgUrl + msg.media_url }}"
              type="video/mp4"
            />
          </video>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div *ngIf="imageModel">
  <form [formGroup]="Message" (ngSubmit)="onsubmit()">
    <div class="row mt-4">
      <div class="col-md-10" style="padding-right: 0px;">
        <textarea
          style="width: 100%; height: 145px;"
          formControlName="message"
          class="form-control"
          [ngClass]="{
            'is-invalid': submitted && f.message.errors
          }"
        >
        </textarea>
        <div *ngIf="submitted && f.message.errors" class="invalid-feedback">
          <div *ngIf="f.message.errors.required">
            Message can not be Empty
          </div>
        </div>
      </div>
      <div class="col-md-1" style="padding-left: 0px;">
        <div class="image-upload" style="margin-top: 60px;">
          <input
            id="file-input"
            type="file"
            formControlName="imageInput"
            (change)="fileProgress($event)"
          />
        </div>
        <button class="btn btn-success" type="submit">
          <i class="fa fa-paper-plane" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </form>
</div> -->

<div class="row" *ngIf="zoomclick" [class.model]="zoomclick">
  <div class="row mt-5" *ngIf="mediatypeImg">
    <div class="col-md-11">
      <i
        (click)="closeImg()"
        style="float: right; color: white; size: 20px;"
        class="fa fa-times-circle"
      ></i>
    </div>
  </div>
  <div class="mt-2" style="background-color: #343a40;">
    <img src="{{ passedSrc }}" width="700px" height="500px" />
  </div>
  <div *ngIf="mediatypeVideo">
    <video width="500" height="300" controls>
      <source src="{{ passedSrc }}" type="video/mp4" />
    </video>
  </div>
</div>
