<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> All Patients
          <input type="text"  [(ngModel)]="term" placeholder="Search" style="float: right;">
        </div>
        <div class="card-body">
          <table class="table table-bordered table-striped table-sm">
            
            <thead>
              
              <tr>
                <th class="therd">Sr#</th>
  
                <th class="therd">Title</th>
                <th class="therd">Action</th>
                
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let app of allConfigration|  filter:term  | paginate: { itemsPerPage: 10, currentPage: p }; let i = index ">
                <td class="trow">{{ i + 1 }}</td>
                <td class="trow">{{ app.step_config_title }}</td>
               
                <td class="trow">
                  <button type="button" class="btn btn-primary btn-sm" (click)='MedicalModal(app.step_config_id)' >Medical Form</button>

                </td>
              </tr>
            </tbody>
            
          </table>
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-lg-6"></div>
    <!--/.col-->
  </div>
